<div class="container">
  <h1>Little Thoughts</h1>
  <p class="sub">For All The Little Voices To Be Heard!</p>
    <div class="row">
      <div class="col-md-6">
        <div *ngFor='let quote of quotes, let i = index'>
          <div>
            <button (click)='toggleDetails(i)' class="btnQ">See Quotes</button>
            <h4 *ngIf='quote.showQuoted' id={{i}} appHighlight class="quo"> "{{quote.quoted}}."</h4>
          </div>
  
          <div *ngIf='quote.showQuoted'>
            <app-quote-detail [quote]='quote' (isComplete) = 'deleteQuote($event,i)'></app-quote-detail>
          </div>
        </div>
      </div>
  
      <div class="col-md-6" id="add">
        <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
      </div>
  
    </div>
  
</div>