@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css2?family=Trochut:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Grenze+Gotisch:wght@900&display=swap');

body{
    background-color: rgba(0, 0, 0, 0.418);
}
h1 {
    font-size: 50px;
    text-align: center;
    font-family: 'Grenze Gotisch', cursive;
    background-color: rgba(137, 43, 226, 0.452);
}
.sub {
    text-align: center;
    background-color: rgba(137, 43, 226, 0.37);
    font-size: 15px;
}
.quo{
    font-family: 'Trochut', cursive;
}
#add {
    background-color: rgba(222, 184, 135, 0.808);
    width: fit-content;
    font-family: 'Great Vibes', cursive;
    font-size: xx-large;
}
.btn-outline-info{
    color: rgba(0, 0, 255, 0.603);
}
form {
    background-color: rgba(23, 2, 43, 0.411);
    color: wheat;
    width: fit-content;
    display: inline-block;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 20px;
    padding: 40px;
    text-align: start;
}