<div class="container-fluid">
    <h2 class="text-center">Create a new Quote</h2>
    <hr>
    <form (ngSubmit)='submitQuote()' #quoteForm='ngForm'>
        <div class="form-group">  
            <label for="names">Names</label>
            <input type="text" class="form-control" id="names" [(ngModel)]="newQuote.names" name="names" #name='ngModel' required>
        </div>

        <div class="form-group">  
            <label for="author">Author</label>
            <input type="text" class="form-control" id="author" [(ngModel)]="newQuote.author" name="author" #author='ngModel' required>
        </div>

        <div class="form-group">
            <label for="quoted">Your Quote</label>
            <textarea class="form-control" id="quoted" rows="4" [(ngModel)]="newQuote.quoted" name="quoted" #quoted='ngModel' required></textarea>
        </div>

        <div class="form-group">
            <label for="uploadDate">Date</label>
            <input type='date' id="uploadDate" required>
        </div>

        <button type="submit" class="btn btn-success">Add Quote</button>
    </form>
</div>

